body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  color: #fff;
  background-color: rgb(26, 25, 25);
}

h1 {
  margin: 0;
  margin-bottom: 2rem;
}

.input {
  font-size: 18px;
  border: 1px solid #000;
  border-radius: 0.3em;
  padding: 0px 5px 0px 5px;
  width: 10em;
  height: 2em;
}

select {
  margin-left: 1rem;
  height: 2em;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
}